.login-wrap {
  padding: 118px 0 208px;
}

.login-content {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
}

.login-inner-wrapper {
  padding: 20px 20px;
  background: #fff;  
}

.login-header {
  line-height: 1;
  text-align: center;
}

.login-header strong {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -.5px;
  color: #0b0c0c;
}

.login-header span {
  display: block;
  margin: 16px 0 0;
  font-size: 16px;
  letter-spacing: -1px;
}

.login-body {
  margin: 32px 0 0;
}

.editor-container {
  width: 100%;
}

.login-input {
  cursor: text;
  display: block;
  width: 90%;
  height: 100%;
  padding: 16px 14px;
  line-height: 1.34;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  background: #fbfbfb;
  color: #999;
}

.login-input:focus {
  background: #fefefe;
  border-color: #5e4a8a;
  color: #5e4a8a;
}

.editor-container+.editor-container {
  margin: 8px 0 0;
}

.login-btn {
  display: block;
  width: 100%;
  margin: 14px 0 0;
  padding: 16px 0;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.error {
  color: #ed1c24;
  font-size: 12px;
}